.reveal.reveal img {
    max-height: 66vh;
}

a.hover-image {
    position: relative;
}

a.hover-image img {
    display: none;
    position: absolute;
    height: 100px;
    width: 100px;
    max-width: 100px !important;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
}

a.hover-image:hover img {
    display: block;
}

p.footer-para {
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px !important;
}